.itinerary{
    background-color: #f3f3f3;
    min-width: 100%;
    min-height: 100%;
    max-height: 500%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
}
.margin-top-1{
    margin-top: 1rem;
}
.trip-details-status{
    width: 50%;
    display: flex;
    margin: 0 auto;
    padding-top: 1rem;
    
}
@media(max-width:768px){
    .trip-details-status{
        width: 95%;
    }
}
@media(min-width:769px){
    @media(max-width:1025px){
    .trip-details-status{
            width: 60%;
        }
    }
}
.trip-details-status .trip-details{
    font-weight: 600;
    width: 75%;
}
.trip-details-status .trip-overall-status{
    width: 25%;
    text-align: end;
}
@media(max-width:415px){
    .trip-details-status .trip-overall-status{
        width: inherit;
    }

}
.trip-overall-status span{
    font-size: 24px;
    
}
.trip-overall-status .Confirm{
    color: green;
    font-weight: 600;
}
.trip-overall-status .Cancel{
    color: red;
    font-weight: 600;
}
.trip-overall-status .PartialCancelled{
    color: orangered;
    font-weight: 600;
}
.trip-overall-status .ScheduleChanged{
    color: orange;
    font-weight: 600;
}