.payment-card{
    margin-top:1rem;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 0.4px 0 rgba(0,0,0,0.1);
    border: 2px solid #bfefff;
    border-radius: 0 0 5px 5px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.Trip-payment-header{
    display: flex;
    padding: 8px 20px;
    width: 50%;
    margin: auto;
    background: #bfefff;
    color: black;
    border-radius: 2px 2px 0 0;
    border: 2px solid #bfefff;
    margin-top: 15px;
}
@media(max-width:768px){
    .payment-card,.Trip-payment-header{
        width: 95%;
        padding: 10px;
    }
}
@media(min-width:769px){
    @media(max-width:1025px){
        .payment-card,.Trip-payment-header{
            width: 60%;
        }
    }
}
.payment-table .payment-header,.payment-table .payment-values{
    display: flex;
    width: 100%;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
}
.payment-table .component{
    width:50%;
}
.payment-table .cost{
    width:25%;
    text-align: center;
}
.payment-table .discount{
    width:25%;
    text-align: center;
}
p{
    margin:0;
}
.Total-amount{
    font-weight: 600;
    font-size:24px;
    
    margin-bottom:5px;
}
.total-fare{
    font-size: 20px;
}
.Trip-Fare-Breakup{
    margin-bottom: 5rem;
}