<div>
<div class="Trip-payment-header">Trip Fare Breakup</div>

<div class="payment-card">
  <div class="payment-table">
  <div class="payment-header">
    
    <div class="component"><strong>Name</strong></div>
    <div class="cost"><strong>Cost</strong></div>
    <div class="discount"><strong>Discount</strong></div>

  </div>
  <div class="payment-values" *ngIf="Trip.flight">
    <div class="component">{{Trip.flight.type}}-{{Trip.flight.pnr}}</div>
    <div class="cost">{{Trip.flight.cost| currency:'USD'}}</div>
    <div class="discount">{{Trip.flight.discount | currency:'USD'}}</div>
  </div>
  <div class="payment-values" *ngFor="let hotel of Trip.hotel">
    <div class="component">{{hotel.name}}</div>
    <div class="cost">{{hotel.cost| currency:'USD'}}</div>
    <div class="discount">{{hotel.discount | currency:'USD'}}</div>
  </div>
  <div class="payment-values" *ngFor="let car of Trip.car">
    <div class="component">{{car.name}}</div>
    <div class="cost">{{car.cost| currency:'USD'}}</div>
    <div class="discount">{{car.discount | currency:'USD'}}</div>
  </div>
  
  </div>
  <p class="total-fare">Total cost of trip is <strong>{{TotalAmount| currency:'USD'}}</strong></p>
  <p class="total-fare" *ngIf="CancelComponent">
    
    Total amount refunded is <strong>{{TotalRefund| currency:'USD'}}</strong>
  </p>
</div>
</div>