.password-card{
    
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 0.4px 0 rgba(0,0,0,0.1);
    border: 2px solid #bfefff;
    border-radius: 0 0 5px 5px;
    width: 40%;
    margin: 0% auto 0%;
}
.password-header{
    margin-top:1rem;
    padding: 10px 20px;
    background-color: #bfefff;
    border: 2px solid #bfefff;
    border-radius:5px 5px 0 0;
    width: 40%;
    margin: 3% auto 0%;
}
@media(max-width:415px){
    .password-card,.password-header{
        width: 90%;
    }
}
@media(min-width:416px){
    @media(max-width:1260px){
        .password-card,.password-header{
            width: 60%;
        }
    }
}
.password-text{
    font-size: 20px;
    margin: 0;
    text-align: center;
    font-weight: 600;
}
.password-box{
    margin-bottom: 1rem;
    font-size: 16px;
    display: flex;
    margin-left: 50px;
}
.password-box label{
    width: 33%;
    font-weight: 600;
}
input{
    height: 20px;
    width: 200px;
    border-radius: 3px;
    border: 1px solid;
}
.password-buttons{
    display: flex;
    margin-left: 86px;
}
.reset{
    width: 40%;
    margin-left: 20%;
}
.submit-button{
    margin: 0 auto;
}
.submit-button button:disabled{
    color: white;
    border: 1px solid gray;
    background-color: gray;

}
.submit-button button{
    border: 1px solid #0D74AF;
    color: #0D74AF;
    background-color: white;
    padding: 5px 20px;
    border-radius: 3px;
}
.error-text{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: red;
    margin-left: 60px;
}
