
<div class="password-header">
  <p class="password-text">Change Password</p>
</div>
<div class="password-card">
  
    <form #f="ngForm" (ngSubmit)="OnChangePassword()">


      <div class="password-box">
        <label> Current Password </label>
        <input type="password" name="Password" [(ngModel)]="CurrentPassword" required>
      </div>
      <div class="password-box">
        <label> New Password </label>
        <input type="password" name="Password" [(ngModel)]="NewPassword" required>
      </div>
      <div class="password-box">
        <label> Re-enter Password </label>
        <input type="password" name="Password" [(ngModel)]="RePassword" required>
      </div>
      
      <div class="password-buttons">
        <div class="submit-button">
        <button  type="submit" [disabled]="!f.valid" [BackColorHover]="'#0A5783'">Submit</button>
        </div>
      </div>
    </form>
    <p *ngIf="ShowError" class="error-text">{{ErrorText}}</p>
</div>

