<div>
<div class="Hotel-header">HOTEL</div>
<div class="Hotel-Card">
  <div class="Hotel-view">
    <div class=" Hotel-details">
      <div class="Hotel-name">
      <img src="../../../assets/hotel-icon.webp" class="hotel-icon" alt="hotel">
      <span class="location-name">{{hoteldetails.name}}({{hoteldetails.location}})</span>
        </div>
        <div class="check-in-out">
          <span class="checkin">Checkin <strong>{{hoteldetails.checkIn}} </strong></span>
          <span class="margin-left-1">Checkout <strong>{{hoteldetails.checkout}} </strong></span>
      </div>
      <div class="tenants-details">
        <span class="tenants">Guest/s <strong> {{hoteldetails.travellerInfo}}</strong> </span>
        <span class="margin-left-1"> People <strong>{{hoteldetails.peopleCount}}</strong></span>
      </div>
      <p>Rating <strong>{{hoteldetails.rating}}</strong> </p>
      <!-- <p class="Hotel-price">Total Hotel Price- <strong>{{hoteldetails.TotalPrice | currency:'USD'}}</strong></p> -->
    </div>
    <div class="Hotel-status">
      <div>
        <strong><span [class]="hotelStatus">{{hotelStatus}}</span></strong>
      </div>
      <div class="Check-staus-Hotel" *ngIf="confirm">
        <button [BackColorHover]="'#0A5783'" (click)="getHotelStatus()">Check Status</button>
      </div>
      <div class="Cancel-Hotel" *ngIf="confirm">
        <button [BackColorHover]="'#0A5783'" (click)="CancelHotel()">Cancel Hotel</button>
      </div>
    </div>
  </div>

  
</div>
</div>