.Hotel-Card{
    margin-top:1rem;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 0.4px 0 rgba(0,0,0,0.1);
    border: 2px solid cornflowerblue;
    border-radius: 0 0 5px 5px;
    width: 50%;
    margin: 0 auto;
}
.Hotel-header{
    display: flex;
    padding: 8px 20px;
    width: 50%;
    margin: auto;
    background: cornflowerblue;
    color: white;
    border-radius: 2px 2px 0 0;
    border: 2px solid cornflowerblue;
    margin-top: 15px;
}
@media(max-width:768px){
    .Hotel-Card,.Hotel-header{
        width: 95%;
        padding: 10px;
    }
}
@media(min-width:769px){
    @media(max-width:1025px){
        .Hotel-Card,.Hotel-header{
            width: 60%;
        }
    }
}
.hotel-icon{
    width: 50px;
    height: 35px;
}
.Hotel-details{
    vertical-align: super;
    width: 70%;
}

.location-name{
    vertical-align: super;
}
.Hotel-status .Confirm{
    color: green;
}
.Hotel-status .Cancel{
    color:red;
}
.Hotel-name-status{
    display: flex;
}
.Hotel-status{
    width: 30%;
    text-align: end;
}
.Hotel-status span{
    
    font-weight: 600;
    font-size: 20px;
    margin-top:10px;
}
.margin-left-1{
    margin-left: 1rem;
}
.Hotel-view{
    width: 100%;
    display: flex;
}
.Hotel-name{
    font-size: 24px;
}
button{
    appearance: none;
    background-color: #0D74AF; 
    padding: 8px;
    border: 1.5px solid #0D74AF; 
    color: white; 
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    margin-top:5px;
}
.Hotel-price{
    font-size: 20px;
    margin: 0;
}
.check-in-out,.tenants-details{
    display: flex;
    width: 80%;
}
.check-in-out .checkin,.tenants-details .tenants{
    width:40%;
}
@media(max-width:415px){
    .Hotel-details{
        width: 75%;
    }
    .Hotel-status{
        width:25%;
    }
    .check-in-out,.tenants-details{

        width: 100%;
    }
    .check-in-out .checkin,.tenants-details .tenants{
        width:46%;
    }
}