<div class="Flight-card">
  <div class="Flight-Details">
  <div class="Flight-pnr-type">
    <div class="Flight-pnr">
      PNR- {{flightdetails.pnr}}
    </div>
    <div class="Flight-type">
      TYPE- {{flightdetails.type}}
    </div>
  </div>
  <div class="each-route" *ngFor="let dest of flightdetails.destination;let i = index">
  
  <div class="route-details">
    <img src="../../../assets/FlightIcon.png" class="flight-icon" alt="flight">
    <span>{{flightdetails.source[i]}}</span>
    <span>	&#8594;</span>
    <span>{{flightdetails.destination[i]}}</span>
    
  </div>
  <div class="dept-details">
    <span class="dept">Depature <strong> {{flightdetails.deparatureTimes[i]}}</strong></span>
    <span>Arrival <strong>{{flightdetails.arrivalTimes[i]}}</strong></span>
  </div>
  <div>
    <span class="airlines"><strong>{{flightdetails.airlineDetails[i]}}</strong></span>
  </div>
  </div>
  </div>
  <div class="Flight-operations">
    <div>
      <span [class]="flightdetails.status"><strong>{{flightdetails.status}}</strong></span>
    </div>
    <div class="Check-staus-Flight" *ngIf="!cancel">
      <button [BackColorHover]="'#0A5783'">Check Status</button>
    </div>
    <div class="Cancel-Flight" *ngIf="!cancel">
      <button [BackColorHover]="'#0A5783'" (click)="CancelFlight()">Cancel Flight</button>
    </div>
  </div>
</div>