.flight-icon{
    width: 50px;
}
.route-details{
    font-size:24px;
    display: table;
} 
.route-details span{
    vertical-align: super;
    padding-left: 5px;
}
.Flight-card{
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 0.4px 0 rgba(0,0,0,0.1);
    border:none;
    border-radius: 5px;
    width: 50%;
    margin: 10px auto;
}