<div class="profile-header">
  <p *ngIf="!Edit">Profile <span><i class="fa fa-pencil-square-o edit-icon" aria-hidden="true" (click)="EditProfile()"></i></span></p>
  <p *ngIf="Edit">Update Profile</p>
</div>

<div class="MyProfile-card">
   <div class="row flex">
    <span class="half">
      <label> Name </label>
      <input type="text" class="normal" [disabled]="!Edit" [(ngModel)]="_Name">
    </span>
    <span>
      <label> Email </label>
      <input type="text" class="normal" disabled="true" [value]="_profile.email">
    </span>
  </div>
  <div class="row flex">
    <span class="half">
      <label class="age"> Age </label>
      <input type="text" class="normal" [disabled]="!Edit" [(ngModel)]="_Age">
    </span>
    <span>
      <label> Joined </label>
      <input type="text" class="normal" [disabled]="true" [value]="_profile.joined">
    </span>
  </div>
  <div class="gender-radio row">
    <input type="radio" id="male" name="gender" value="male" disabled="true" [checked]="Male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="female" disabled="true" [checked]="!Male">
    <label for="female">Female</label>
  
  </div>
  <div class="row">
    <label> Hobbies </label>
      <input type="text" class="normal hobbies" [disabled]="!Edit" [(ngModel)]="_hobbies">
  </div>
  <div *ngIf="Edit" class="flex margin-top-1">
    <button class="update-button" [BackColorHover]="'#0A5783'" (click)="updateProfile()">Update</button>
    
  </div>
  <p *ngIf="Error" class="profile-error">{{ErrorText}}</p>
    <p *ngIf="success" class="profile-success">Profile Updated Successfully</p>
</div>
