<div *ngIf="header" class="Post-booking">
<app-header  [userdata]="CurrentUser"></app-header>
<div class="trips-view">
  <!-- <button (click)="GetMyTrips()">
    Get My Trips
  </button> -->

  <div *ngIf="showtrips" class="trips-table">
    <p class="myTrips">My Trips</p>
    <div class="trips-header">
      <b>
      <span class="trip-data tripid">TripId</span>
      <span class="trip-data Booked">Booked</span>
      <span class="trip-data TotalCost">TotalCost</span>
      <span class="trip-data Status">Status</span>
      <span class="trip-data"></span>
      </b>
    </div>
    <div *ngFor="let trip of AllTrips" class="trips-row">
      <span class="trip-data tripid">{{trip.Id}}</span>
      <span class="trip-data Booked">{{trip.BookedDate}}</span>
      <span class="trip-data TotalCost">{{trip.TotalCost}}</span>
      <span class="trip-data Status">{{trip.status}}</span>
      <span class="trip-data" (click)="ViewItinerayDetails(trip)" class=" desktop"> <span class="view-itinerary"> View Itinerary</span> </span>
      <span class="trip-data" (click)="ViewItinerayDetails(trip)" class=" mobile"> <span class="view-itinerary"> View </span> </span>
    </div>
  </div>
</div>
</div>

