/* You can add global styles to this file, and also import other style files */
html, body, app-root {
    
    margin: 0;
}
app-post-booking,app-itinerary{
    display: flex;
    flex-direction: column;
}
button:hover{
    cursor: pointer;
}
button:disabled{
    cursor: not-allowed !important;
}