<div class="Login-page">
<div class="login-container">
    <form name="login-form" class="login-form">
      <div class="form-group login-username">
        <label> Username</label>
        <input type="text" [(ngModel)]="username" name="Username">
      </div>
      <div class="form-group login-password">
        <label> Password</label>
        <input type="password" [(ngModel)]="password" name="Password">
      </div>
      <div class="form-group">
        <input type="button" value="Login" (click)="onlogin()" class="login-sumbit">
      </div>
      <p class="or">OR</p>
      <div class="form-group">
        <button value="Login with Google" (click)="onGooglelogin()" class="google-login">
          <img src="https://raw.githubusercontent.com/fireflysemantics/logo/master/Google.svg" alt="Login with Google" class="google-icon">Login with Google
        </button>
      </div>
    </form>
</div>
</div>