<app-header></app-header>
<div class="login-container">
    <form name="login-form" class="login-form">
      <div class="form-group login-username">
        <label> Username</label>
        <input type="text" [(ngModel)]="username" name="Username">
      </div>
      <div class="form-group login-password">
        <label> Password</label>
        <input type="password" [(ngModel)]="password" name="Password">
      </div>
      <div class="form-group">
        <input type="button" value="Login" (click)="onlogin()">
      </div>
      <p>OR</p>
      <div class="form-group">
        <input type="button" value="Login with Google" (click)="onGooglelogin()">
      </div>
    </form>
</div>