<div class="header">
  <img src="../../../assets/mainlogo.png" class="main-logo" (click)="home()" alt="home" title="Back to Trips">
  <div class="header-name">
  Post Booking Manager
  </div>
  <!-- <div (click)="Logout()" class="logout">Logout</div> -->
  <div class="user-details" [AddClassHover]="'Logout-dropdown'">
    <div class="profile">
      <div><img [src]="profilepicture" class="profile-picture" alt="ProfilePicture" ></div>
      <div>
        <span> {{Name}}  </span>
      </div>
    </div>
    <div class="profile-dropdown">
      <p  (click)="openChangePassword()" class="change-password">My Profile</p>
      <p (click)="openPopUp()" class="logout">Logout</p>
    </div>
     
  </div>
</div>
<app-popup [title]="faketitle" *ngIf="ShowPopup"  (PopupOutput)="PopupOutput($event)"></app-popup>