<div class="Car-Card">
  <div class="Car-view">
    <div class=" Car-details">
      <div class="Car-name">
      <img src="../../../assets/caricon.png" class="Car-icon" alt="Car">
      <span class="location-name">{{cardetails.Name}}</span>
        </div>
        <div class="Pickup">
          <span class="first-pickup">Pickup <strong>{{cardetails.PickUp}} </strong></span>
          <span class="margin-left-1">Date <strong>{{cardetails.Pickupdate}} </strong></span>
      </div>
      <div class="Dropoff">
        <span class="first-dropoff">Droff <strong>&nbsp;&nbsp;{{cardetails.DropOff}} </strong></span>
        <span class="margin-left-1">Date <strong>{{cardetails.DropOffDate}} </strong></span>
    </div>
      
      <!-- <p class="Car-price">Total Car Price- <strong>{{cardetails.TotalCost | currency:'USD'}}</strong></p> -->
      
    </div>
    <div class="Car-status">
      <div>
        <strong><span [class]="cardetails.status">{{cardetails.status}}</span></strong>
      </div>
      <div class="Check-staus-Car" *ngIf="confirm">
        <button [BackColorHover]="'#0A5783'">Check Status</button>
      </div>
      <div class="Cancel-Car" *ngIf="confirm">
        <button [BackColorHover]="'#0A5783'">Cancel Car</button>
      </div>
    </div>
  </div>

  
</div>