<div>
<div class="car-header">CAR</div>
<div class="Car-Card">
  <div class="Car-view">
    <div class=" Car-details">
      <div class="Car-name">
      <img src="../../../assets/caricon.png" class="Car-icon" alt="Car">
      <span class="location-name">{{cardetails.name}}</span>
        </div>
        <div class="Pickup">
          <span class="first-pickup">Pickup <strong>{{cardetails.pickUp}} </strong></span>
          <span class="margin-left-1">Date <strong>{{cardetails.pickupdate}} </strong></span>
      </div>
      <div class="Dropoff">
        <span class="first-dropoff">Droff <strong>&nbsp;&nbsp;{{cardetails.dropOff}} </strong></span>
        <span class="margin-left-1">Date <strong>{{cardetails.dropOffDate}} </strong></span>
    </div>
      
      <!-- <p class="Car-price">Total Car Price- <strong>{{cardetails.TotalCost | currency:'USD'}}</strong></p> -->
      
    </div>
    <div class="Car-status">
      <div>
        <strong><span [class]="carStatus">{{carStatus}}</span></strong>
      </div>
      <div class="Check-staus-Car" *ngIf="confirm">
        <button [BackColorHover]="'#0A5783'" (click)="getCarStatus()">Check Status</button>
      </div>
      <div class="Cancel-Car" *ngIf="confirm">
        <button [BackColorHover]="'#0A5783'" (click)="openPopUp()">Cancel Car</button>
      </div>
    </div>
  </div>
  </div>
  <app-popup [title]="faketitle" *ngIf="ShowPopup"  (PopupOutput)="PopupOutput($event)"></app-popup>
</div>